* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    height: 100%;
    margin: 0 auto;
    padding: 0;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.main {
    flex: 1 0 auto;
}

.footer {
    flex: 0 0 auto;
}

img {
    max-width: 100%;
}

ul {
    margin: 0;
    padding: 0;
}

.container{
    max-width: 1620px;
    margin: 0 auto;
    padding: 0 10px;
}

/* Header */

.header {
    width: 100%;
}

.header-info {
    background: #191919;
    padding: 10px 0 6px;
}

.info-list {
    display: flex;
    justify-content: left;
}

.info-item {
    margin-right: 15px;
    list-style: none;
}

.info-link {
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: #CBCBCB;
    text-decoration: none;
}

.header-nav {
    background: #FFFBFB;
    padding: 20px 0 20px;
}

.header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-inner {
    display: flex;
    align-items: center;
}

.menu-list {
    display: flex;
    list-style: none;
    margin-left: 20px;
}

.menu-item {
    margin-right: 20px;
}

.menu-link {
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
    text-decoration: none;
}

.menu-icon {
    vertical-align: middle;
    margin-left: 3px;
}

.icon-inner {
    display: flex;
    align-items: center;
}

.search {
    margin-right: 25px;
}

.search-button {
    position: absolute;
    margin: 8px 0;
    z-index: 1;
    border: none;
    outline: none;
    background-color: #FFFBFB;
}

.search-input {
    padding-left: 25px;
    width: 250px;
    height: 35px;
    border: none;
    border-bottom: 1px solid #000;
    outline:none;
    z-index: 0;
    background-color: #FFFBFB;
}

.icon-link {
    display: inline-block;
    margin-right: 15px;
}

/* Products */

.products {
    padding: 10px 0;
}

.products-title {
    margin: 0;
    padding: 0px 0 10px 25px ;
    font-weight: normal;
    font-size: 26px;
    line-height: 30px;
    color: #000000;
}

.products-card-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 5px;
}

.card {
    padding: 50px 0 35px;
    background: #FFFFFF;
    border: 1px solid #C4C4C4;
    text-align: center;
    cursor: pointer;
}

.card-link {
    display: block;
    text-decoration: none;
    color: #000000;
}

.card-img {
    display: block;
    margin: 0 auto;
    overflow: hidden;
}

.card-title {
    margin: 0;
    padding: 50px 0 80px;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
}

.card-price {
    display: block;
    font-weight: normal;
    font-size: 36px;
    line-height: 42px;
    color: #000000;
    margin-bottom: 65px;
}

.card-button {
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
    text-decoration: none;
}

/* Hit */
.hit {
    padding: 10px 0;
}

.hit-title {
    margin: 0;
    padding: 0px 0 10px 25px ;
    font-weight: normal;
    font-size: 26px;
    line-height: 30px;
    color: #000000;
}

.hit-card-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 5px;
}

.hit-card {
    padding: 0px 0 35px;
    background: #FFFFFF;
    border: 1px solid #C4C4C4;
    text-align: center;
    cursor: pointer;
}

.hit-card-title {
    margin: 0;
    padding-bottom: 50px;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
}

/* Services*/
.services {
    padding-bottom: 50px;
}

.services-title {
    margin: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    color: #000000;
}

.services-wrapper {
    display: flex;
    justify-content: space-around;
    padding-top: 60px;
}

.services-round {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 200px;
    height: 200px;
    background-color: #C4C4C4;
    border-radius: 100%
}

.services-descr {
    padding-top: 50px;
    text-align: center;
}

.services-subtitle {
    margin: 0;
    font-weight: normal;
    font-size: 26px;
    line-height: 30px;
    color: #000000;
}

.services-text {
    margin: 0;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #818181;
}

/* Footer*/
.footer {
    background: rgba(255, 245, 245, 0.57);
}

.footer-content-wrapper {
    padding: 55px 0 60px 75px;
    display: flex;
    justify-content: space-between;
}

.about-company {
    margin-right: 165px;
}

.about-company-title {
    margin: 0;
    padding-bottom: 10px;
    font-weight: bold;
    font-size: 28px;
    line-height: 32px;
    color: #000000;
}

.footer-menu-item {
    margin-bottom: 5px;
    list-style: none;
}

.footer-menu-link {
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
    text-decoration: none;
}

.customer {
    margin-right: auto;
    margin-left: 0;
}

.customer-title {
    margin: 0;
    padding-bottom: 10px;
    font-weight: bold;
    font-size: 28px;
    line-height: 32px;
    color: #000000;
}

.customer-item {
    margin-bottom: 5px;
    list-style: none;
}

.customer-link {
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    text-decoration: none;
    color: #000000;
}

.support {
    margin-right: 105px;
}

.support-title {
    margin: 0;
    padding-bottom: 10px;
    font-weight: bold;
    font-size: 28px;
    line-height: 32px;
    color: #000000;
}

.support-item {
    margin-bottom: 5px;
    list-style: none;
}

.support-link {
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    text-decoration: none;
    color: #000000;
}

.footer-info-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 37px 0 35px;
    align-items: center;
    border-top: 1px solid #CBCBCB;
}

.offer {
    display: flex;
    margin-left: 75px;
}

.offer-text {
    margin: 0;
    padding-left: 5px;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
}

.rules {
    margin-right: auto;
    margin-left: 130px;

}

.rules-link {
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    text-decoration: none;
    color: #000000;
}

.type-card {
    margin-right: 105px;
}

.type-card-img {
    margin-right: 15px;
    vertical-align: middle;
}

.copyright {
    margin-right: 135px;
}

.copyright-text {
    text-align: center;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    color: #C1C1C1;
}

/* Authorization form*/

.authorization {
    padding: 110px 0px 240px;
}

.form-wrapper {
    position: relative;
    left: 25%;
    right: 25%;
}

.form-authorization {
    width: 800px;
    padding: 70px 85px 85px 107px;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 10px;
}

.form-title {
    margin: 0;
    padding-bottom: 40px;
    font-weight: normal;
    font-size: 28px;
    line-height: 36px;
    text-align: center;
    color: #000000;
}

.email-tex {
    margin-right: 35px;
    font-weight: normal;
    font-size: 24px;
    line-height: 31px;
    color: #000000;
}

.email-input {
    width: 500px;
    height: 50px;
    padding: 10px 10px;
    background: #FFFDFD;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 10px;
}

.password-wrapper {
    padding-top: 25px;
}

.password-text {
    margin-right: 15px;
    font-weight: normal;
    font-size: 24px;
    line-height: 31px;
    color: #000000;
}

.password-input {
    width: 500px;
    height: 50px;
    padding: 10px 10px;
    background: #FFFDFD;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 10px;
}

.checkbox-wrapper {
    text-align: center;
    padding-top: 15px;
}

.checkbox-text {
    font-weight: normal;
    font-size: 24px;
    line-height: 31px;
    color: #000;
}

.checkbox-input {
    margin-right: 20px;
    background: #FFFFFF;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 5px;
}

.form-button {
    text-align: center;
    margin-top: 35px;
}

.input-submit {
    padding: 20px 150px;
    text-align: center;
    font-weight: normal;
    font-size: 28px;
    line-height: 36px;
    background: #FEFEFE;
    border: 1px solid #999696;
    box-sizing: border-box;
    border-radius: 10px;
    color: #000000;
    cursor: pointer;
}

.sign-up {
    text-align: center;
    padding-top: 25px;
}

.sign-up-link {
    margin-top: 25px;
    text-decoration: none;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    color: #000000;
}

/* Registration form*/

.registration {
    padding: 100px 0 300px;
}

.form-registration {
    width: 800px;
    padding: 20px 105px 50px 29px;
    background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 10px;
}

.form-registration-title {
    margin: 0;
    padding-bottom: 15px;
    text-align: center;
    font-weight: normal;
    font-size: 28px;
    line-height: 57px;
    color: #000000;
}

.wrapper-form {
    text-align: center;
    margin-top: 15px;
}

.surname {
    margin-right: 20px;
    font-weight: normal;
    font-size: 24px;
    line-height: 31px;
    color: #000000;
}

.wrapper-input {
    width: 500px;
    height: 50px;
    padding: 10px 10px;
    background: #FFFDFD;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 10px;
}

.name-form {
    margin-right: 70px;
    font-weight: normal;
    font-size: 24px;
    line-height: 31px;
    color: #000000;
}

.patronymic-form {
    margin-right: 20px;
    font-weight: normal;
    font-size: 24px;
    line-height: 31px;
    color: #000000;
}

.password-form {
    margin-right: 45px;
    font-weight: normal;
    font-size: 24px;
    line-height: 31px;
    color: #000000;
}

.wrapper-form-check {
    display: flex;
    text-align: center;
    margin-top: 15px;
}

.check-password-form {
    margin-right: 10px;
    font-weight: normal;
    font-size: 20px;
    line-height: 25px;
    color: #000000;
}

.wrapper-input-check {
    width: 500px;
    height: 50px;
    padding: 10px 10px;
    background: #FFFDFD;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 10px;
}

.form-registration-button {
    text-align: center;
    margin-top: 35px;
    margin-left: 100px;
}

.registration-input-submit {
    padding: 20px 92px;
    text-align: center;
    font-weight: normal;
    font-size: 28px;
    line-height: 36px;
    background: #FEFEFE;
    border: 1px solid #999696;
    box-sizing: border-box;
    border-radius: 10px;
    color: #000000;
    cursor: pointer;
}
